RewriteEngine Off
<IfModule mod_authz_core.c>
    Require all granted
</IfModule>
<IfModule !mod_authz_core.c>
    Order allow,deny
    Allow from all
</IfModule>

# Disable directory listing
Options -Indexes

# Set proper MIME types
<IfModule mod_mime.c>
    AddType text/css .css
    AddType application/javascript .js
    AddType font/ttf .ttf
    AddType font/woff .woff
    AddType font/woff2 .woff2
</IfModule>
